/* Base HTML Styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

:root {
   --brand: #05445e;
   --action: #e9e6e6;
   --white: #ffffff;
   --base-light: #36a6b3;
   --other-pages-base: #05445e;
   --other-sections-base: #36a6b3;
   --base-dark: #0d0711;
   --black: #111111;
}

/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: var(--black);
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* Utilities */

.display-none {
  display: none;
}

/* Components */

/* btn-primary */
.btn-primary {
  padding: 12px 16px;
  display: inline-block;
  text-decoration: none;
  color: var(--black);
  border-radius: 4px;
  background-color: var(--action);
  transition: all 0.3s ease;
}

.btn-primary:hover {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

/* header */
header .mobile-header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button {
  all: unset;
}

@media (min-width: 768px) {
  header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  header nav ul {
      display: flex;
      gap: 24px;
      margin-right: 16px;
  }

  header .mobile-header .hamburger-icon {
      display: none;
  }
}

/* .logo */
.logo {
  height: 50px;
}

/* .mobile-nav */
.mobile-nav a {
  text-decoration: none;
  color: var(--black);
  display: block;
 padding: 4px 16px;
}

/* .desktop-nav */
.desktop-nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop-nav a {
      text-decoration: none;
      font-size: larger;
      color: var(--black);
  }

  .desktop-nav {
      display: inline-block;
  }
}

/* .hamburger-icon  */
.hamburger-icon {
  height: 50px;
}

@media (min-width: 768px) {
  .desktop-nav a {
      text-decoration: none;
      font-size: larger;
      color: var(--black);
  }

  .desktop-nav {
      display: inline-block;
  }
}

/* link */
a:link {
  color: #ffffff;
}

a:visited {
  color: #8e8a8a;
}

/* .hero */
.hero {
<<<<<<< HEAD
  background-image:url("img/geo.jpg");
=======
  background-image: url("img/geo.jpg");
>>>>>>> 3d13a748f2da6a0fcd5cb37eca28a392c65582b0
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 56px 16px;
  border-radius: 10px;
  margin: 5px 10px;
  color:#ffffff
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 24px;
  color: var(--white);
}

.hero .hero-accent {
  color: var(--action);
}

@media (min-width: 768px) {
  .hero {
      padding: 120px 56px;
  }

  .hero h1 {
      font-size: 3.5rem;
      max-width: 70%;
  }
}

/* other pages */
.other-pages {
  background-image: url("img/geo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 56px 16px;
  border-radius: 10px;
  margin: 5px 10px;
  color:#ffffff
}

/* other sections */
.other-sections {
  padding: 32px 16px;
  background-color: var(--other-sections-base);
  border-radius: 10px;
  margin: 5px 10px;
  transition: all 0.3s ease;
  color:#ffffff
}

.other-sections:hover {
  filter: contrast(150%);
}

<<<<<<< HEAD
/* media-container */
.media-container {
  padding: 40px 16px;
  border-radius: 10px;
  margin: 5px 10px;

.media-flex {
  a:link {
    color:#ffffff
  };
  a:visited {
    color:#ffffff
  };
}
}

/* projects-container */

.projects-container {
  padding: 40px 16px;
  border-radius: 10px;
  margin: 5px 10px;

.articles-flex {
  a:link {
    color:#ffffff
  };
  a:visited {
    color:#ffffff
  };
}

=======
@media (min-width: 768px) {
  .projects-container {
      display: flex;
      align-items: top;
      justify-content: stretch;
  }
>>>>>>> 3d13a748f2da6a0fcd5cb37eca28a392c65582b0
}

/* .articles-container  */
@media (min-width: 768px) {
  .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .bio-photo {
    display: flex;
    
  }
  .projects-media-newsletter {
    display: flex;
  }
  .articles-flex {
    display: flex;
    align-items: top;
    justify-content: stretch;
  }

  .other-flex {
    display: flex;
    align-items: top;
    justify-content: stretch;
  }

  .media-flex {
    display: flex;
    align-items: top;
    justify-content: stretch;
  }
}

/* .article */
article {
  padding: 32px 16px;
  background-color: var(--base-light);
  border-radius: 10px;
  margin: 5px 10px;
  transition: all 0.3s ease;
  color:#ffffff;
    a:link {
    color: #0b0a0a;
  }

  a:visited {
    color: #151414;
  }
}

@media (min-width: 768px) {
  article {
      padding: 56px;
  }
}

article:hover {
  filter: contrast(150%);
}

article .article-heading {
  display: flex;
  justify-content: flex-start;
}

article .icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

article .article-heading h2 {
  margin-bottom: 16px;
  color: var(--base-dark);
}

article p {
  margin-bottom: 16px;
}

/* .contact-form */
.contact-form {
<<<<<<< HEAD
  padding: 60px 24px;
=======
  padding: 60x 24px;
>>>>>>> 3d13a748f2da6a0fcd5cb37eca28a392c65582b0
  border-radius: 10px;
  margin: 5px 10px;
}

.contact-form input,
.contact-form select {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
}

.contact-form textarea {
  display: block;
  width: 100%;
  padding: 8px;
}

.contact-form label {
  display: block;
  width: 100%;
}

.contact-form h2 {
  color: var(--white);
  margin-bottom: 16px;
}

.contact-form input[type="submit"] {
  background-color: var(--action);
  border: 0;
  margin-top: 8px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .contact-form h2 {
      text-align: center;
      font-size: 2.5rem;
  }

  .contact-form form {
      max-width: 45%;
      margin: 40px auto;
  }
}

/* newsletter */


/* footer */
footer {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.socials-icon {
  width: 90px;
  height: 20px;
}

@media (min-width: 768px) {
  footer {
      justify-content: center;
  }

  footer .socials-icon {
      margin-left: 20x;
      margin-right: 20px;
  }
}